# --- Frontend & Core ---
streamlit
pandas
numpy

# --- Machine Learning & Models ---
scikit-learn
xgboost
statsmodels
scipy
joblib
category_encoders
geopy
shap

# --- Visualization ---
plotly
matplotlib

# --- LLM & AI Agents (Phần mới bổ sung) ---
langchain
langchain-community
langchain-experimental
langchain-groq
langchain-google-genai
google-generativeai
langchain-huggingface

# --- RAG & Vector Database (Phần mới bổ sung) ---
faiss-cpu
sentence-transformers
pypdf
